# Editor temp files
*~

# macOS Finder attribute files
.DS_Store

node_modules

# output of TypeScript transpilation
/packages/*/dist

# api-extractor temp files
/packages/*/temp

/temp
.env
.eslintcache

# seed phrases
/packages/contracts/.testnet.seed-phrase
/packages/lib-ethers/.testnet.seed-phrase

# version files
/packages/lib-ethers/version
/packages/lib-ethers/live/version

# npmrc files
/packages/lib-base/.npmrc
/packages/lib-ethers/.npmrc
/packages/providers/.npmrc

# vscode files
/.vscode/settings.json

docs